/* styles.module.css */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.wrapMyInfo {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.userData {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  width: calc(40% - 5px);
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.userDataInfo {
  width: calc(60% - 5px);
}

.userInfo {
  font-size: 18px;
  color: #555;
  margin: 0px 0px 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.label {
  font-weight: bold;
  color: #000;
  margin: 0;
}

.value {
  text-align: right;
  margin: 0;
  font-weight: bold;
  color: rgb(0 70 132);
}

.avatar {
  width: 100%;
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carListTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.buttonGroupCreate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.editButton,
.createButton,
.deleteButton {
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 20px;
  background: var(--linear);
  color: #fff;
}

.updateInfoButton {
  height: 40px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 20px;
  background: var(--linear);
  color: #fff;
}

.deleteButton:hover {
  background-color: rgb(194, 0, 0);
  color: #fff;
}

.carTable {
  width: 100%;
}

.carTable thead tr th {
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  width: 20%;
}

.carTable thead tr th:nth-child(5) {
  text-align: center;
}

.carTable tbody tr td {
  padding: 10px;
  box-sizing: border-box;
}

.wrapTab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tab {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
}

.tab:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 0%;
  height: 2px;
  background: var(--linear);
  transition: all .3s linear;
}

.tab.active:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 80%;
  height: 2px;
  background: var(--linear);
}