/* styles.module.css */

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: auto;
    max-width: 700px;
    width: 100%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.buttonGroup {
    text-align: center;
}

.backButton {
    margin-bottom: 10px;
}

.createButton,
.backButton {
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 0px;
    border: 0px;
    border-radius: 20px;
    background: var(--linear);
    color: #fff;
}

.select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.carTable {
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .5);
    padding: 10px 30px;
    box-sizing: border-box;
}

.carTable td label {
    font-weight: bold;
}

.carTable tbody tr td:nth-child(1) {
    padding: 10px;
    box-sizing: border-box;
    width: 30%;
}

.carTable tbody tr td:nth-child(2) {
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
}

.carTable .input {
    width: 100%;
    height: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .5);
}

.carTable .select {
    width: 100%;
    height: 40px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .5);
}