.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    /* background-color: #f0f0f0; */
    height: 74px;
  }
  
  .logo img {
    width: 50px; /* Kích thước logo */
    border-radius: 50%;
  }
  
  .menuItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  
  .menuItem, .link {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    position: relative;
  }

  .menuItem:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: linear-gradient(140deg, #a945af 25%, #f4439b);
    transition: all .3s linear;
  }

  .menuItem.active {
    background: var(--text-header, linear-gradient(140deg, #a945af 25%, #f4439b));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .menuItem.active:before {
    width: 50%;
  }

  .menuItem:hover, .link:hover {
    background: var(--text-header, linear-gradient(140deg, #a945af 25%, #f4439b ));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .menuItem:hover:before {
    width: 50%;
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapAvtarImg {
    position: relative;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .5);
  }
  
  .wrapAvtarImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .account {
    color: #333; /* Màu chữ tài khoản */
  }
  

  .link {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
  }